xml lab/web.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="web-app">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="1" name="display-name" type="xs:string" />
                <xs:element maxOccurs="1" name="welcome-file-list">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element maxOccurs="unbounded" name="welcome-file" type="xs:string" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="filter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="filter-name" type="xs:string" />
                            <xs:element name="filter-class" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="init-param">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="param-name" type="xs:string" />
                                        <xs:element name="param-value" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name ="filter-mapping">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="filter-name" type="xs:string" />
                            <xs:element name="url-pattern" type="xs:string" />
                            <xs:element name="dispatcher" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="listener">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="listener-class" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="servlet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servlet-name" type="xs:string" />
                            <xs:element name="servlet-class" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="init-param">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="param-name" type="xs:string" />
                                        <xs:element name="param-value" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="servlet-mapping">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servlet-name" type="xs:string" />
                            <xs:element name="url-pattern" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name ="error-page">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name="error-code" type="xs:string" />
                                <xs:element name="exception-type" type="xs:string" />
                            </xs:choice>
                            <xs:element name="location" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="version" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>